<div class="row">
    <div class="col-md-12">
        <div class="topnavdash">
            <div class="logo">Hello {{user.username}}</div>
            <a href="/logout" class="split" target="_self">logout</a>
        </div>
        <div style="text-align: center; margin-top:5%;">
        <h1 >Welcome to your dashboard!</h1>
        </div>
        <p>Here is the information we have on file for you:</p>
        <h4>username: {{user.username}}</h4>
        <h4>email: {{user.email}}</h4>
    </div>
</div>